<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>笑脸</string>
		<key>image</key>
		<string>笑脸.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>笑掉大牙</string>
		<key>image</key>
		<string>笑掉大牙.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>啊</string>
		<key>image</key>
		<string>啊.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>爱你</string>
		<key>image</key>
		<string>爱你.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>爱心</string>
		<key>image</key>
		<string>爱心.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>白眼</string>
		<key>image</key>
		<string>白眼.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>鼻涕</string>
		<key>image</key>
		<string>鼻涕.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>闭嘴</string>
		<key>image</key>
		<string>闭嘴.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>便便</string>
		<key>image</key>
		<string>便便.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>不舒服</string>
		<key>image</key>
		<string>不舒服.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>呲牙</string>
		<key>image</key>
		<string>呲牙.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>打哈欠</string>
		<key>image</key>
		<string>打哈欠.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>大惊</string>
		<key>image</key>
		<string>大惊.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>大闹</string>
		<key>image</key>
		<string>大闹.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>大笑</string>
		<key>image</key>
		<string>大笑.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>点赞</string>
		<key>image</key>
		<string>点赞.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>调皮</string>
		<key>image</key>
		<string>调皮.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>恶魔</string>
		<key>image</key>
		<string>恶魔.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>饿死</string>
		<key>image</key>
		<string>饿死.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>恩_</string>
		<key>image</key>
		<string>恩_.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>发呆</string>
		<key>image</key>
		<string>发呆.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>犯困</string>
		<key>image</key>
		<string>犯困.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>飞吻</string>
		<key>image</key>
		<string>飞吻.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>奋斗</string>
		<key>image</key>
		<string>奋斗.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>愤怒</string>
		<key>image</key>
		<string>愤怒.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>尴尬</string>
		<key>image</key>
		<string>尴尬.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>感冒</string>
		<key>image</key>
		<string>感冒.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>怪物</string>
		<key>image</key>
		<string>怪物.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>汗颜</string>
		<key>image</key>
		<string>汗颜.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>好吃</string>
		<key>image</key>
		<string>好吃.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>哼</string>
		<key>image</key>
		<string>哼.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>呼气</string>
		<key>image</key>
		<string>呼气.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>坏笑</string>
		<key>image</key>
		<string>坏笑.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>惊恐</string>
		<key>image</key>
		<string>惊恐.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>惊悚</string>
		<key>image</key>
		<string>惊悚.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>惊讶</string>
		<key>image</key>
		<string>惊讶.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>开心</string>
		<key>image</key>
		<string>开心.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>瞌睡</string>
		<key>image</key>
		<string>瞌睡.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>骷髅</string>
		<key>image</key>
		<string>骷髅.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>酷</string>
		<key>image</key>
		<string>酷.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>冷</string>
		<key>image</key>
		<string>冷.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>冷酷</string>
		<key>image</key>
		<string>冷酷.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>流鼻血</string>
		<key>image</key>
		<string>流鼻血.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>流汗</string>
		<key>image</key>
		<string>流汗.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>流口水</string>
		<key>image</key>
		<string>流口水.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>流泪</string>
		<key>image</key>
		<string>流泪.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>骂人</string>
		<key>image</key>
		<string>骂人.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>懵逼</string>
		<key>image</key>
		<string>懵逼.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>面无表情</string>
		<key>image</key>
		<string>面无表情.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>难过</string>
		<key>image</key>
		<string>难过.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>呕吐</string>
		<key>image</key>
		<string>呕吐.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>企鹅</string>
		<key>image</key>
		<string>企鹅.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>忍者</string>
		<key>image</key>
		<string>忍者.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>三条线</string>
		<key>image</key>
		<string>三条线.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>什么</string>
		<key>image</key>
		<string>什么.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>生气</string>
		<key>image</key>
		<string>生气.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>受伤</string>
		<key>image</key>
		<string>受伤.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>衰</string>
		<key>image</key>
		<string>衰.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>睡醒</string>
		<key>image</key>
		<string>睡醒.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>睡着</string>
		<key>image</key>
		<string>睡着.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>死了</string>
		<key>image</key>
		<string>死了.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>贪吃</string>
		<key>image</key>
		<string>贪吃.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>讨厌</string>
		<key>image</key>
		<string>讨厌.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>天使</string>
		<key>image</key>
		<string>天使.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>吐舌头</string>
		<key>image</key>
		<string>吐舌头.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>无聊</string>
		<key>image</key>
		<string>无聊.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>喜欢</string>
		<key>image</key>
		<string>喜欢.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>吓死</string>
		<key>image</key>
		<string>吓死.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>献吻</string>
		<key>image</key>
		<string>献吻.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>斜眼</string>
		<key>image</key>
		<string>斜眼.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>心碎</string>
		<key>image</key>
		<string>心碎.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>星星眼</string>
		<key>image</key>
		<string>星星眼.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>凶</string>
		<key>image</key>
		<string>凶.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>疑问</string>
		<key>image</key>
		<string>疑问.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>幽灵</string>
		<key>image</key>
		<string>幽灵.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>又死了</string>
		<key>image</key>
		<string>又死了.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>晕</string>
		<key>image</key>
		<string>晕.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>炸弹</string>
		<key>image</key>
		<string>炸弹.png</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>猪头</string>
		<key>image</key>
		<string>猪头.png</string>
	</dict>
</array>
</plist>
